#root {
  max-width: 30rem;
  margin: 1.5rem auto 0;
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(26, 27, 33, 1);
}

/* ---------- COMPONENTS ---------- */
/* Info */
.info__profile-img > img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.info__bio {
  padding: 1.375rem 2.25rem;
}

.info__bio > p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(243, 191, 153, 1);
}

@media (width > 23rem) {
  .info__bio > p {
    font-size: 1.2rem;
  }
}

.bio__contacts {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contacts__email,
.contacts__linkedIn {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(209, 213, 219, 1);
}

.contacts__email > p,
.contacts__linkedIn > p {
  font-size: 0.825rem;
  line-height: 1.2;
}

@media (width > 23rem) {
  .contacts__email > p,
  .contacts__linkedIn > p {
    font-size: 1.25rem;
  }
}

.contacts__email {
  color: rgba(26, 27, 33, 1);
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem 1.75rem;
}

.contacts__email:hover,
.contacts__email:focus,
.contacts__email:focus-visible {
  background-color: rgba(209, 213, 219, 1);
}

.contacts__linkedIn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(80, 147, 226, 1);
  padding: 0.5rem 1.125rem;
}

.contacts__linkedIn:hover,
.contacts__linkedIn:focus,
.contacts__linkedIn:focus-visible {
  background-color: rgba(2, 62, 138, 1);
}

/* About.jsx */
.about,
.interests {
  text-align: start;
}

.about {
  padding: 1.5rem 2.25rem 0;
}

/* Interests.jsx */
.interests {
  padding: 1.5rem 2.25rem;
}

/* Footer.jsx */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(22, 22, 25, 1);
}
