:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(220, 220, 220, 1);
  background-color: rgba(35, 37, 44, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(220, 220, 220, 1);
    background-color: #ffffff;
  }
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Make images easier to work with */
img {
  display: block;
  object-fit: cover;
}

a {
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 1.625rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

@media (width > 23rem) {
  h1 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 0.25rem;
  color: rgba(245, 245, 245, 1);
}

@media (width > 23rem) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 0.7rem;
  line-height: 1.5;
}

@media (width > 23rem) {
  p {
    font-size: 1rem;
  }
}
